[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mstockel
[access "refs/for/refs/*"]
	read = group user/mstockel
	push = group user/mstockel
	label-Code-Review = -2..+2 group user/mstockel
	label-Verified = -1..+1 group user/mstockel
	rebase = group user/mstockel
	removeReviewer = group user/mstockel
	submit = group user/mstockel
[access "refs/heads/*"]
	read = group user/mstockel
	create = group user/mstockel
	push = +force group user/mstockel
	pushMerge = group user/mstockel
[access "refs/tags/*"]
	push = group user/mstockel
	push = +force group user/mstockel
